@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Roboto:wght@700&display=swap");

.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: 'Gloock', serif;
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

.loginOrSignUp {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 1rem;
}

.button {
   padding: 4rem 0;
}

.homepage p {
    margin-top: 5rem;
    color: #fff;
    font-family: "Gloock",serif;
    font-size: 2rem;
    text-align: center;
}