@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Roboto:wght@700&display=swap");

/* .movieTitle p {
    color: red;
    font-family: "Gloock",serif;
    font-size: 2rem;
    text-align: center;
} */
